body {
  margin: 20px;
}
/*
 * Navigation
 */
a.active {
  color: #000 !important;
  text-shadow: 2px 2px #ccc;
}
/*
 * Form validation
 */
input.form-control.ng-valid, select.form-control.ng-valid {
  border-left: 5px solid #42A948; /* green */
}
input.form-control.ng-invalid, select.form-control.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
/*
 * Panel title when controls are expected
 */
 .panel-title.with-controls.pull-left {
    padding-top: 7.5px;
    margin-right: 12px;
 }
/*
 * Vertical align text in table
 */
 .table td {
    vertical-align: middle !important;
}
/*
 * Glyphicon opacity
 */
a > i, label > i {
    opacity: 0.5;
}
a:hover > i, label:hover > i {
    opacity: 1.0;
}
/*
 * Hide file input element
 */
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
