<item-list #itemList
    [state]="state"
    apiSelector="movies"
    searchPlaceholder="Search for movie title, year of production or notes"
    addPrompt="Add Movie"
    removeHeader="Removing Movie"
    downloadPrompt="Download Movies"
    uploadPrompt="Upload Movies"
    exportFileName="movies.json">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 15%">Completed</th>
                    <th style="width: 10%">Year</th>
                    <th style="width: 40%">Title</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of itemList.items">
                    <td>
                        <div class="input-group-btn">
                            <a [routerLink]="[movie._id]" class="btn btn-default" title="Edit Movie">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a (click)="itemList.removeConfirm(movie)" class="btn btn-default" title="Remove Movie">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </td>
                    <!-- Date pipe doesn't work in Safari -->
                    <td>{{itemList.formatDate(movie.completed)}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.notes}}</td>
                </tr>
           </tbody>
        </table>
    </div>

</item-list>
