<item-list #itemList
    [state]="state"
    apiSelector="books"
    header="Books"
    searchPlaceholder="Search for Author or Title"
    addPrompt="Add Book"
    removeHeader="Removing Book"
    uploadPrompt="Upload Books">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 15%">Completed</th>
                    <th style="width: 8%">Mode</th>
                    <th style="width: 25%">Author</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of itemList.items | async">
                    <td>
                        <div class="input-group-btn">
                            <a [routerLink]="[book._id]" class="btn btn-default" title="Edit Book">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a (click)="itemList.removeConfirm(book)" class="btn btn-default" title="Remove Book">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </td>
                    <!-- Date pipe doesn't work in Safari -->
                    <td>{{itemList.formatDate(book.completed)}}</td>
                    <td>{{book.mode}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.title}}</td>
                </tr>
           </tbody>
        </table>
    </div>

</item-list>
