<my-modal #deleteConfirm title="Removing Book" submitButtonLabel="Yes" cancelButtonLabel="No">
    <modal-content>
        Are you sure you want to remove <span class="badge">{{deleteConfirm.modalData}}</span>?
    </modal-content>
</my-modal>

<div class="panel panel-default">

    <div class="panel-heading">
        <h4 class="panel-title with-controls pull-left">Books</h4>
        <div class="input-group">
            <input #search (keydown.enter)="applySearch(search.value)" [value]="state.searchFilter" type="text" class="form-control" placeholder="Search for Author or Title">
            <div class="input-group-btn">
                <a (click)="applySearch(search.value)" class="btn btn-default" title="Apply Search Filter"><i class="glyphicon glyphicon-search"></i></a>
                <a (click)="applySearch('')" class="btn btn-default" title="Clear Search Filter"><i class="glyphicon glyphicon-remove-sign"></i></a>
                <a [routerLink]="['new']" class="btn btn-default" title="Add Book"><i class="glyphicon glyphicon-plus"></i></a>
                <label for="file" class="btn btn-default" title="Upload Books"><i class="glyphicon glyphicon-upload"></i></label>
                <!-- TO DO: implement as a separate component -->
                <form #uploadForm>
                    <input type="file" id="file" (change)="uploadChange($event)">
                </form>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 15%">Completed</th>
                    <th style="width: 8%">Mode</th>
                    <th style="width: 25%">Author</th>
                    <th>Title</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books | async">
                    <!-- Date pipe doesn't work in Safari -->
                    <td>{{formatDate(book.completed)}}</td>
                    <td>{{book.mode}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.title}}</td>
                    <td>
                        <div class="input-group-btn text-right">
                            <a [routerLink]="[book._id]" class="btn btn-default" title="Edit Book">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a (click)="removeConfirm(book)" class="btn btn-default"title="Remove Book">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
           </tbody>
        </table>
    </div>
</div>
