<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <form novalidate (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text"
                    placeholder="Email address"
                    class="form-control"
                    [(ngModel)]="user.email"
                    validate-email
                    name="email"
                    #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    {{email.errors?.message}}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="user.password"
                    validate-password
                    name="password"
                    #password="ngModel">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    {{password.errors?.message}}
                </div>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">
                Log in
            </button>
        </form>

    </div>
</div>
