<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text"
                    class="form-control"
                    formControlName="email">
                <div [hidden]="ctrlEmail.valid || ctrlEmail.pristine" class="alert alert-danger">
                    Email is invalid
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    formControlName="password">
                <div [hidden]="ctrlPassword.valid || ctrlPassword.pristine" class="alert alert-danger">
                    Password is required
                </div>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">
                Log in
            </button>
        </form>

    </div>
</div>
