<nav class="navbar navbar-default">
  <div class="container-fluid">

  <div class="navbar-header">
    <a [routerLink]="['/home']" routerLinkActive="active" class="navbar-brand">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      &nbsp;My Hobbies
    </a>
  </div>

  <ul *ngIf="auth.isLoggedIn" class="nav navbar-nav">
    <li>
      <a [routerLink]="['/books']" routerLinkActive="active">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        &nbsp;Books
      </a>
    </li>
    <li>
      <a [routerLink]="['/movies']" routerLinkActive="active">
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
      &nbsp;Movies
      </a>
    </li>
  </ul>

  <ul *ngIf="!auth.isLoggedIn" class="nav navbar-nav navbar-right">
    <li>
      <a [routerLink]="['/login']" routerLinkActive="active">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        &nbsp;Log in
      </a>
    </li>
    <li>
      <a [routerLink]="['/register']" routerLinkActive="active">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        &nbsp;Sign up
      </a>
    </li>
  </ul>

  <ul *ngIf="auth.isLoggedIn" class="nav navbar-nav navbar-right">
    <li>
      <a>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Logged in as: <i>{{auth.currentUser.email}}</i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/home']" (click)="logout()">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        &nbsp;Log out
      </a>
    </li>
  </ul>

  </div>
</nav>
