<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand">
        My Hobbies
      </div>
    </div>

  <ul class="nav navbar-nav">
    <li>
      <a [routerLink]="['/task1']" routerLinkActive="active">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        &nbsp;Books
      </a>
    </li>
    <li>
      <a [routerLink]="['/task2']" routerLinkActive="active">
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
      &nbsp;Movies
      </a>
    </li>
  </ul>

  <div class="navbar-right">
    <p class="navbar-text">Logged in as Iurii Kyrylenko</p>
    <button type="button" class="btn btn-default navbar-btn">Log out</button>
  </div>
 </div>
</nav>

<router-outlet></router-outlet>
